

<form action="/" method="post">
  <div class="imgcontainer">
    <img src="../../assets/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>UserId</b></label>
    <input type="text" [(ngModel)]="uname" class="ng-invalid ng-dirty" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" [(ngModel)]="psw" class="ng-invalid ng-dirty" placeholder="Enter Password" name="psw" required>
        
    <button type="submit" (click)="login($event)">Sign In</button>
  </div>
</form>
